/*-------Body and Structure-------*/

body {
  background-color: #e6ffff;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Karla', arial, sans-serif;
  font-weight:400;
  text-align: center;
}

/*--------DropDownMenu--------*/
.container{
  display: grid;
  width: 80%;
  max-width: 600px;
  margin: auto;
}
ul {
  list-style-type: none;
  opacity: 0.7;
}
ul >li {
  display: grid;
  grid-template-columns: 7fr 3fr;
  background-color: white;
  align-items:center;
}
.cityName{
  text-align: left;
  padding-left: 5%;
}
.countryName{
  text-align: right;
}

/*------Image-------*/
#pxlrimage {
  position:absolute;
  margin: auto;
  top: 30%;
  width:50%;
  max-width: 500px;
  border-radius: 8px;
  z-index: -1;
}



input[type=text] {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  }

    input[type=text] {
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 50%;
    }


/*//////////////////////// MOBILE FIRST//////////////////// */
h1 {
  margin: auto;
  font-size: 35px;
}
form {
  text-align: center;
}


/* ////////////////TABLET SECOND ///////////*/

li:hover{
  background-color: grey;
}

#mapid { height: 180px; }

/* TABLET SECOND */

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 50px;
  }
}

/* ///////////////////DESKTOP THIRD //////////////////*/
@media only screen and (min-width: 1100px) {

  #f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
  }
  #f1_container {
    perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
  }
  #f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
  }
  #hoo {
    display: block;
  }

}
